extend ../layout.pug
block contenido 
   header(class="header") 
      div(class="container", class="Lo-nav-con")
          img(src="../public/resources/Promo2.png", alt="Logo Piku", class="Pikulogo")
          nav(class="naviga")
           ul
            li
             button(type="button", class="button_info")
               svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16")
                 path(d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
               a(href="/app/clase/info") Información de la clase
           ul
            li  
             button(type="button", class="button_S")
               svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16")
                   path(fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z")
                   path(fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z")
               a(href="/logout", class="Cerrar_sesión") Cerrar sesión
           ul
            li
             button(type="button" class="button_Mi")
               svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16")
                   path(fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z")
                   path(fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z")
               a(href="/app") Inicio
           ul
            li
             button(type="button" class="button_M_U")
               svg(xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
                   path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                   path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
               a(href="/app/myuser", class="Mi_usuario") Mi usuario

   from(class="HAHAHA10") 
    h1(class="classname") #{classname}
    -if(description == ""){
    -}else if(description !== ""){
       p(class="descri") #[b Descripcion: ] #{description}
       a(href="/app") Volver 
    -}
   from  
    h3(class="mat1") #[a(href="/app/clase/subject/1") #{materia1}]
    h3(class="mat2") #[a(href="/app/clase/subject/2") #{materia2}]
    h3(class="mat3") #[a(href="/app/clase/subject/3") #{materia3}]
    h3(class="mat4") #[a(href="/app/clase/subject/4") #{materia4}]
    h3(class="mat5") #[a(href="/app/clase/subject/5") #{materia5}]
    h3(class="mat6") #[a(href="/app/clase/subject/6") #{materia6}]
    h3(class="mat7") #[a(href="/app/clase/subject/7") #{materia7}]
    h3(class="mat8") #[a(href="/app/clase/subject/8") #{materia8}]
    h3(class="mat9") #[a(href="/app/clase/subject/9") #{materia9}]
    h3(class="mat10") #[a(href="/app/clase/subject/10") #{materia10}]

   img(class="img-a" src="../public/resources/"+""+avatar+""+".png", alt="Imagen no encontrada")