extend ../layout.pug
block contenido
    h3 Nombre: #{name} #{lastname}
    h3 Tipo de Usuario: #{usertype}
    h3 Correo: #{email}
    h3 Codigo de clase: #{classcode}
    h3 Pikoins: #{pikoins}
    div
        a(href="/logout") Cerrar sesion 